/* タスク入力欄のスタイル */
.input-field input,
.input-field select {
  width: 35%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* SaveボタンとClear Allボタンのスタイル */
ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

/* リストのテーブルのスタイル */
#list {
  width: 100%;
  border-collapse: collapse;
}

#list th,
#list td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* 保存メッセージのスタイル */
#completionMessage {
  margin-top: 20px;
  font-weight: bold;
  color: #4CAF50;
  font-size: 80px;
}

/* ステータスのスタイル */
#status {
  margin-top: 10px;
  font-weight: bold;
}

/* 合計表示のスタイル */
#totalTodo,
#totalDone {
  margin-top: 10px;
  font-weight: bold;
}

body {
  background-color: rgb(187, 203, 187);
}